@import "../global.scss";

.event-card {
    padding: 20px;
    border: 3px solid rgba(0,0,0,0.05);
    // box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: #fff;
    max-width: 400px;
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
    display: inline-block;
    margin: 20px;
    .name {
        font-size: 15pt;
        color: #4e5869;
        line-height: 1.5em;
    }
    .meta {
        padding: 5px;
        margin-top: 10px;
        i {
            padding-right: 20px;
        }
        .value {
            margin-left: 15px;
            position: relative;
            top: -2px;
        }
    }
}

.event-meta {
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .event-card {
        width: 250px !important;
        display: block;
    }
}