@import url("https://fonts.googleapis.com/icon?family=Google+Sans:400,500|Google+Sans+Display:400|Roboto:300,400,500|Roboto+Mono:400");

$fonts: "Google Sans", "Helvetica Neue";
$secondary: "Roboto";
$blue: #4285f4;

* {
    margin: 0;
    padding: 0;
    font-family: $fonts;
    -webkit-font-smoothing: antialiased;
}

html, body {
    overflow-x: hidden;
    font-weight: 400;
}

.grecaptcha-badge { 
    visibility: hidden;
}

a {
    color: $blue;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}