@import url("https://fonts.googleapis.com/icon?family=Google+Sans:400,500|Google+Sans+Display:400|Roboto:300,400,500|Roboto+Mono:400");

$fonts: "Google Sans", "Helvetica Neue";
$secondary: "Roboto";
$blue: #4d90fe;

* {
    margin: 0;
    padding: 0;
    font-family: $fonts;
    -webkit-font-smoothing: antialiased;
}

.grecaptcha-badge { 
    visibility: hidden;
}