.g_logo {
    display: inline-block;
    width: 200px;
}

.line {
    background: #ccc;
    width: 50%;
    height: 1px;
}

.intro_wrapper {
    // padding-top: 60px;
}

.dsclogo {
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 40px;
    display: inline-block;
}

.intro {
    overflow: hidden;
    
    color: #fff;
    padding: 30px;
    background: linear-gradient(45deg, #061119, #091c2c);
    position: relative;

    .title {
        font-size: 30pt;
    }

    .intro_image {
        position: absolute;
        top: 0%;
        left: 0%;
        img {
            width: 100%;
            height: 100%;
            // width: 100px;
        }
    }

    .signup_for_updates {
        margin-top: 50px;
        .asuemail {
            width: 500px;
            display: inline-block;
        }
        .button {
            display: inline-block;
            position: relative;
            top: 15px;
            margin-left: 30px;
        }
        .clear {
            clear: both;
            display: block;
        }
    }

    #timer {
        font-size: 36pt;
        font-family: "Google Sans Display";
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .almost-here {
        margin-top: 40px;
        font-size: 14pt;
        line-height: 1.7em;
        width: 80%;
    }

    .tagline {
        font-size: 30pt;
        font-weight: 400;
    }

    .deets {
        line-height: 2.5em;
        font-size: 11pt;
    }

    .g_logo {
        width: 250px;

    }

    .intro_stuff {
        width: 100%;
        display: inline-block;
        position: relative;
        z-index: +100;
    }

    .grid {
        width: 100% !important;
        position: absolute;
        top: 0;
        left: 0px;
    }

    .intro_text {
        padding: 30px;
        width: 50%;
        display: inline-block;
        .intro_text_wrapper {
            background: #fff;
            padding: 30px;
            border: 1px solid #e9eaed;
            position: relative;
            left: 2px;
            // width: 100%;
            // position: absolute;
            // top: 47.5%;
            // left: 105%;
            // transform: translate(-50%,-50%);
        }
    }

    .intro_image {
        width: 45%;
        vertical-align: top;
        display: inline-block;
    }

    .intro_banner_bg {
        width: 100%;
    }

}

.powered-by {
    margin-top: 20px;
    .g_logo {
        display: inline-block;
        margin-left: 10px;
    }
    .powered-by-text {
        display: inline-block;
        font-size: 14pt;
        font-weight: 500;
    }
}

.live-stream {
    margin-top: 40px;
    h1 {
        font-size: 20pt;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: normal;
        width: 70%;
    }
}

.section {
    padding: 5%;
    padding-top: 0%;
    .title {
        font-size: 24pt;
        font-weight: 400;
        border-bottom: 2px solid #4d90fe;
        display: inline;
        padding-bottom: 10px;
    }
    .description {
        margin-top: 60px;
        font-size: 13pt;
        font-family: "Google Sans Display";
        font-weight: 500;
    }
    .pic {
        width: 100px;
    }
}

.get_involved_buttons {
    div {
        padding-right: 30px;
        display: inline-block;
    }
}

.info-session {
    margin-top: 50px;
    display: inline-block;
    margin-left: 10%;
}

.socials {
    a {
        color: #000;
    }
    font-size: 18pt;
    svg {
        padding: 10px;
        margin: 30px;
        border-radius: 10px;
        &:hover {
            background: #eee;
        }
    }
    display: inline-block;
}

.hiring {
    font-size: 18pt;
    border: 4px solid #eee;
    border-radius: 10px;
    width: 40%;
    padding: 30px;
}

// .members {
//     margin-top: 75px;
//     .member {
//         display: inline-block;
//         margin: 30px;
//         vertical-align: top;
//         background: #fff;
//         border-radius: 10px;
//         box-shadow: 0 0 20px rgba(0,0,0,0.1);
//         width: 300px;
//         padding: 30px;
//         img {
//             width: 150px;
//             border-radius: 100%;
//         }
//         .name {
//             margin-top: 20px;
//             font-size: 20pt;

//         }
//         .position {
//             margin-top: 10px;
//             color: #4d904d;
//         }
//     }
// }

.members {
    .member {
        margin: 50px;
        padding: 30px;
        display: inline-block;
        border: 5px solid rgba(0,0,0,0.08);
        border-radius: 10px;
        width: 400px;
        transform: scale(1.0, 1.0);
        transition: 0.0666s ease-out;
        .member_img {
            img {
                width: 150px;
                border-radius: 100%;
            }
        }
        .member_name {
            font-size: 18pt;
            margin-top: 20px;
        }
        .member_position {
            margin-top: 10px;
        }
        .member_email {
            margin-top: 10px;
        }
        .social_icon {
            display: inline-block;
            margin-top: 25px;
            margin: 20px;
            a {
                color: rgba(0,0,0,0.5);
            }
        }
    }
}

.member:hover {
    transform: scale(1.08, 1.08);
}

.about {
    max-width: 60%;
    letter-spacing: -.2px;
    line-height: 1.8em;
    text-align: justify;
    font-weight: 400 !important;
    font-size: 15pt !important;
}


.main_container {
    background: #F8F9FA;
    padding: 30px;
    padding-top: 10px;
    .box {
        border: 1px solid rgba(0,0,0,0.125);
        background: #fff;
        border-radius: 5px;
        padding: 30px;
        width: 75%;
        margin: 0 auto;
        margin-top: 30px;
        padding-bottom: 80px;
        .desc {
            line-height: 1.8em;
            font-family: "Roboto";
            color: #333;
            * {
                font-family: "Roboto";
                line-height: 1.8em;
            }
        }
        .social_icon {
            display: inline-block;
            padding: 20px;
            margin-top: 25px;
            border-radius: 5px;
            color: #555;
            cursor: pointer;
            &:hover {
                background: #eee;
            }
        }
    }
}

.main_info_box {
    .tagline {
        margin: 0 auto;
        width: 50%;
        text-align: center;
        font-size: 1.75rem;
        color: #4a4a4a;
        font-weight: 300;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .powered_by {
        margin: 0 auto;
        display: block;
        margin-top: 50px;
        span {
            display: inline-block;
            font-size: 18pt;
        }
        .google_logo {
            position: relative;
            top: -2px;
            display: inline-block;
            width: 300px;
        }
    }
}

.brandingheader {
    padding-top: 50px;
    padding-bottom: 40px;
    background: linear-gradient(45deg, #061119, #091c2c);
    img {
        display: inline-block;
    }
    .title {
        color: #fff;
        display: inline-block;
        position: relative;
        top: 5px;
    }
}


@media screen and (max-width: 600px) {

    .menu {
        overflow: hidden;
        height: 70px;
    }

    .main_container .box {
        width: 300px !important;
    }

    .menu ul {
        float: none;
        display: block;
        li {
            display: block !important;
        }
    }

    .intro {
        padding: 30px;
        padding-top: 0px;
        overflow: auto !important;
        background-repeat: repeat;
        border-bottom: 1px solid rgba(0,0,0,0.09);

        .title {
            font-size: 22pt;
        }

        .tagline {
            font-size: 18pt;
            font-weight: 500;
            margin-top: 10px;
        }

        .powered-by-text {
            display: none !important;
        }

        #timer {
            font-size: 20pt;
            width: 100%;
        }
        
        .almost-here {
            font-size: 11.5pt;
            width: 100%;
            text-align: justify;
        }
        .signup_for_updates {
            .asuemail {
                width: 100%;
            }
            .button {
                width: 100%;
                margin-top: -10px;
                margin-bottom: 50px;
                margin-left: 0px;
            }
        }
    }

    .member {
        margin: 0px !important;
        display: block !important;
        margin-top: 50px !important;
    }

    .socials {
        padding-bottom: 10px;
    }
    .intro_text {
        width: 100% !important;
        position: relative;
        left: -25%;
        .intro_text_wrapper {
            width: 100% !important;
            display: block !important;
            // position: absolute !important;
            // top: 50% !important;
            // left: 40% !important;
            // transform: translate(-30%,-50%) !important;
            // .tagline {
            //     font-size: 20pt;
            // }
            // .g_logo {
            //     width: 250px;
            // }
        }
    }
    .intro_stuff {
        display: none !important;
    }

    .section {
        .title {
            font-size: 17pt;
        }
        .description {
            font-size: 12pt;
            font-weight: 400;
            line-height: 1.8em;
            width: 90%;
        }
    }

    .get_involved_buttons {
        margin-top: 0px !important;
        div {
            display: block;
            margin-top: 30px;
        }
    }

    .info-session {
        margin-left: -2.5%;
    }

    .box {
        width: 100% !important;
        margin: 0;
    }

    .main_container {
        padding-left: 10px;
        padding-right: 12.5px;
    }

    .main_info_box {
        width: 90% !important;
        .powered_by {
            .google_logo {
                width: 250px !important;
            }
        }
        .tagline {
            font-weight: 400;
            width: 90%;
            font-size: 16pt;
            line-height: 1.8em;
        }
    }

    .members {
        .member {
            width: 200px;
        }
    }

}