@import "global.scss";

.menu {
    position: fixed;
    top: 0;
    z-index: +99999;
    width: 100%;
    color: #000;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    .dsclogo {
        width: 50px;
        display: block;
        padding: 30px;
        // position: relative;
        // left: 150px;
    }

    .logo_symbol {
        width: 40px;
        position: relative;
        left: 150px;
        // top: 15px;
        // opacity: 0;
    }

    .socials {
        display: inline-block;
        position: relative;
        top: -7.5px;
        left: 80px;
    }

    .socials img {
        width: 21px;
    }

    // box-shadow: 0 0 10px rgba(0,0,0,0.1);
    ul {
        // display: inline-block;
        float: right;
        list-style: none;
        li {
            cursor: pointer;
            display: inline-block;
            font-weight: 500;
            padding: 30px;
            padding-bottom: 30px;
            border-bottom: 3px solid rgba(0,0,0,0);
            transition: all 0.5s;
            &:hover {
                border-bottom: 3px solid $blue;
            }
        }
    }

    .hamburger {
        padding: 20px;
    }
}

.header_logo {
    // padding-left: 100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    img {
        width: 64px
    }
}


.footer {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #112332;
    color: #fff;
}

@media screen and (max-width: 900px) {
    .dsclogo {
        padding: 10px !important;
    }
    .header_logo {
        padding-bottom: 20px;
        img {
            width: 300px;
        }
    }
    .menu ul {
        display: none;
    }
}